<div class="lucky-body">
  <!-- 工具栏 -->
  <div class="toolbar">
    <button nz-button nzType="primary" (click)="startAllEdit()" *ngIf="!isEdit">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      编辑
    </button>

    <div *ngIf="!isEdit">
      分组数：<nz-input-number [(ngModel)]="groupNumber" [nzMin]="1" [nzMax]="10" [nzStep]="1"
        (ngModelChange)="groupNumberChange()"></nz-input-number>
    </div>

    <nz-button-group *ngIf="isEdit">
      <button nz-button nzType="danger" (click)="cancelEdit()">取消</button>
      <button nz-button nzType="primary" (click)="okEdit()">确认</button>
    </nz-button-group>
  </div>

  <!-- 标题 -->
  <div class="title">
    <div *ngIf="!isEdit">{{title}}</div>
    <input nz-input placeholder="请输入标题" *ngIf="isEdit" [(ngModel)]="title_Temp" [nzSize]="'large'" />
  </div>

  <!-- 结果表格 -->
  <div class="result">

    <div *ngIf="isEdit">
      <div class="tableTool">
        <button nz-button nzType="primary" (click)="isVisible = true" class="addUser">
          <i nz-icon nzType="user-add" nzTheme="outline"></i>
          新增小伙伴
        </button>
      </div>

      <nz-modal class="newPersonModel" [(nzVisible)]="isVisible" nzTitle="新增小伙伴" nzWidth="400"
        (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <div class="item">
          序号：{{dataSet.length + 1}}
        </div>
        <div class="item">
          姓名：<input nz-input placeholder="请输入小伙伴姓名" [(ngModel)]="person.name" />
        </div>
        <div class="item">
          团队：<input nz-input placeholder="请输入小伙伴所属团队" [(ngModel)]="person.team" />
        </div>
      </nz-modal>

      <nz-table #basicTable [nzData]="dataSet" [nzFrontPagination]="false" [nzBordered]="true">
        <thead>
          <tr>
            <th [nzAlign]="'center'">序号</th>
            <th [nzAlign]="'center'">姓名</th>
            <th [nzAlign]="'center'">团队</th>
            <th [nzAlign]="'center'">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data;let i = index">
            <td [nzAlign]="'center'">{{i + 1}}</td>
            <td [nzAlign]="'center'">
              <ng-container *ngIf="!editCache[data.index].edit; else nameInputTpl">
                {{ data.name }}
              </ng-container>
              <ng-template #nameInputTpl>
                <input type="text" nz-input [(ngModel)]="editCache[data.index].data.name" />
              </ng-template>
            </td>
            <td [nzAlign]="'center'">
              <ng-container *ngIf="!editCache[data.index].edit; else teamInputTpl">
                {{ data.team }}
              </ng-container>
              <ng-template #teamInputTpl>
                <input type="text" nz-input [(ngModel)]="editCache[data.index].data.team" />
              </ng-template>
            </td>
            <td [nzAlign]="'center'">
              <div class="editable-row-operations">
                <ng-container *ngIf="!editCache[data.index].edit&&!editCache[data.index].leave">
                  <a (click)="startEdit(data.index)">编辑</a>
                  <a (click)="leaveClick(data.index)">请假</a>
                  <a nz-popconfirm nzTitle="你确定要删除  {{editCache[data.index].data.name}}?"
                    (nzOnConfirm)="deleteEdit(data.index,i)">删除</a>
                </ng-container>
                <ng-container *ngIf="editCache[data.index].edit&&!editCache[data.index].leave">
                  <a (click)="saveEdit(data.index)">保存</a>
                  <a (click)="cancelTEdit(data.index)">取消</a>
                </ng-container>
                <ng-container *ngIf="!editCache[data.index].edit&&editCache[data.index].leave">
                  <a (click)="leaveClick(data.index)" style="color: coral;">取消请假</a>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>



    <!-- 抽奖开始结束按钮 -->
    <div *ngIf="!isEdit">
      <div class="table">
        <table border="1" *ngFor="let group of UIList;let groupIndex = index">
          <tr>
            <th colspan="3" bgcolor="#448AFF">{{groupNameByIndex(groupIndex)}}组</th>
          </tr>
          <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>团队</td>
          </tr>
          <tr *ngFor="let item of group;let itemIndex = index"
            (click)="onSelectCaptainClick($event,groupIndex,itemIndex,item)"
            [ngStyle]="groupIndex<=captain.length && captain[groupIndex]?.index && itemIndex===0 && {'background-color':'#bfe6d7'}">
            <td>{{itemIndex + 1}}</td>
            <td style="padding: 0 10px;">{{item.name}}</td>
            <td style="padding: 0 10px; width: 135px;">{{item.team}}</td>
          </tr>
        </table>
      </div>
      <button class="luckyButton button-start" (click)="start()" *ngIf="isStart">开始</button>
      <button class="luckyButton button-end" (click)="stop()" *ngIf="!isStart">结束</button>
    </div>


  </div>
