.lucky-body {
  text-align: center;

  .result {
    font-size: 60px;
    // line-height: 6;
  }

  button {
    padding: 10px 0;
    border-radius: 10px;
    background-color: #12a4ff;
    color: #fff;
    font-size: 20px;
    width: 300px;
    margin: 0 auto;
  }

  .button-end {
    background-color: #ff006b;
  }

  .table{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0 50px 0;
  }

  table{
    border-collapse: collapse;
  }
  table,th,td{
    border:1px,solid,black;
  }
  .table table:not(:first-child){
    border-left: none;
  }
}
